
/* Gives the Head Blue gradient background with white font */
.header {
    display: flex;
    padding-left: 50%;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(55, 55, 204, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

/* Gives the Search for a City bold font */
#searchCity {
    font-weight: bold;
}

.ui-widget {
    display: flex;
    width: 30%;
    margin: 10px;
}

/* got to fix the search in the button to display in the center */
.btn-outline-primary {
    color: #212529;
    background: linear-gradient(90deg, rgba(45,91,171,1) 0%, rgba(54,141,242,1) 38%);;
    border-color: lightblue;
}

/* gives the search button size and positioning */
#btnSearch {
    display: flex;
    width: 30%;
    margin: 10px;
  }

  /* gives the list width and positioning */
  .list-group {
    width: 17%;
    padding: 10px;
  }

  /* aligns the text in the list in the center of the button */
  .list-group-item {
    margin-bottom: 10px;
    text-align: center;
  }

/* aligns the text in the cards to the center */
  .card-body {
    text-align: center;
    padding-bottom: 100px;
  }

/* Font size for the cards */
  #fiveDayWeather div h3 {
    font-size: 14px; 
  }

/* positioning for the '5-Day forecast:' */
  .fiveDayForecast {
    padding-left: 20%;
    font-weight: bold;
  }

  /* sizing for the main card */
#weatherCards {
  margin-left: 30%;
  width: 60%;
}

/* Sizing for the cards under the main card */
.col-md-2 {
  width: 20%;
  height: fit-content;
}